###############################################################################
# Normalize line endings (auto-detect which files are text)
###############################################################################
* text=auto
